NODE_ENV=development
PORT=8000


DATABASE_URL=""



JWT_ACCESS_SECRET="you_can_change_this_to_any_secret_key"
JWT_REFRESH_SECRET="you_can_change_this_to_any_secret_key"

MAILTRAP_HOST="sandbox.smtp.mailtrap.io"
MAILTRAP_PORT=2525
MAILTRAP_USER="your_mailtrap_user"
MAILTRAP_PASS="your_mailtrap_pass"
